@import 'variables';
@import 'mixin';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0px;
}

a {
    text-decoration: none;
}

.loader {
    width: 11em;
    height: 11em;
    border: 1em solid $main-background-color;
    border-bottom-color: $dark-purple;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 43%;
    top: -50%;
    box-sizing: border-box;
    opacity: 0;
    animation: rotation-spinner 2s linear;
    }

.header {
    animation: main-display 2s;
    position: sticky;
    z-index:3;
    &__logo{
        display: block;
        &--center{
            width: 162px;
            display: block;
            margin: 14px auto 5px
        }
    }

    &__search{
        background-color: $search-background;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin:-3px 0px 0px;
        padding:16px;
        i {
            margin-right: 17px;
            color: $dark-grey
        }
    }

    &__heading{
        background-color: $main-background-color;
        text-align: center;
        margin: 0px;
        padding-top: 40px;
        &--title {
            font-weight: 700;
            font-size: 24px;
            padding: 0 0 10px 0;
            margin: 0 51px;
        }
        &--ambiance{
            margin:0;
            font-size: 18px;
        }

        &--explorer {
            display: inline-block;
            margin: 27px auto 57px;
            padding: 13px 18px;
            font-weight: 500;
            @include bouton-n-shadow($white, linear-gradient(193.33deg, $dark-purple -11.44%, $light-purple 123.93%), 25px, 0px 4px 10px $shadow-color);
            @include bouton-hover;
        }
    }
}

.main {
    animation: main-display 2s;
    position: sticky;
    z-index: 3;
    &__nav {
        padding: 20px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        &--etape {
            font-size: 16px;
            font-weight: 500;
            display: block;
            margin: 12.5px 7px;
            width: 97%;
            height: 72px;
            position: relative;
            @include bouton-n-shadow($black, $light-grey, 20px, 0px 4px 15px $shadow-grey);
            i {
                color: $grey;
                position: absolute;
                left: 12%;
                top: 34%;
                font-size: 19px;
            }
            &:hover, &:active{
                i {
                    color: $dark-purple;
                }
            }
        }
        &--chiffre{
            border-radius: 34px;
            display: inline-block;
            padding: 4px 9px;
            background: $dark-purple;
            color: $white;
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            left: -3%;
            top: 31%;
        }
        &--text {
            position: absolute;
            left: 24%;
            top: 37%;
        }
    }
}

.sectionresto {
    background-color: $main-background-color;
    padding: 54px 20px 66px 20px;
    h2 {
        font-size: 24px;
        font-weight: 700;
    }
    &__article {
        padding-bottom: 12px;
        margin: 18px 0px;
        display: block;
        position: relative;
        @include bouton-n-shadow($black, $white, 15px, 0px 4px 15px rgba(0, 0, 0, 0.1));
        &--lien:active, &--lien:any-link, &--lien:focus, &--lien:hover{
            color: $black;
        }
        &--image {
            height: 190px;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 15px 15px 0 0;
            }
        }
        &--new {
            display: inline;
            padding: 7px 12px 6px;
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            right: 5%;
            @include bouton-n-shadow($new-text, $new-background, 2px, 0px 2px 4px $shadow-grey);
        }
        &--nom {
            margin: 16px 0px 12px 13px;
            h3 {
                font-size: 18px;
                font-weight: 700;
                margin: 0px;
            }
            p {
                font-size: 17px;
                margin: 5px 0px 0px 0px;
            }
        }
        &--fav {
            position: absolute;
            right: 5%;
            top: 78%;
            font-size: 22px;
            width: 22.7px;
        }
        .fa-solid{
            display: none;
            background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .fa-regular {
            display: block;
            i {
                color: $black;
            }
        }
        .invisible{
            display: none;
        }
        #heart1:checked + label > .fa-regular, #heart2:checked + label > .fa-regular, #heart3:checked + label > .fa-regular, #heart4:checked + label > .fa-regular{
            display: none;
        }
        #heart1:checked + label > .fa-solid, #heart2:checked + label > .fa-solid, #heart3:checked + label > .fa-solid, #heart4:checked + label > .fa-solid{
            display: block;
        }
    }
}

.footer {
    animation: main-display 2s;
    position: sticky;
    z-index: 3;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    &__logo {
        font-family: 'Shrikhand', cursive;
        color: $white;
    }
    &__secondarylink {
        display: flex;
        flex-direction: column;
        &--lien {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 7px;
            i {
                margin-right: 11px;
                font-size: 13px;
            }
            .fa-handshake-angle{
                margin-right: 7px;
            }
            &:nth-child(3), &:nth-child(4) {
                font-weight: 400;
            }
            &:active, &:any-link, &:focus, &:hover {
                color: $white
            }
        }
    }
}