$main-background-color: #F2F2F2;
$dark-grey:#353535;
$grey: #7E7E7E;
$light-grey: #F7F7F7;
$search-background: #EAEAEA;
$shadow-color:rgba(0, 0, 0, 0.25);
$shadow-grey:rgba(0, 0, 0, 0.15);
$white: #FFFFFF;
$black: #000000;
$dark-purple: #9356DC;
$light-purple: #FF79DA;
$new-background: #99E2D0;
$new-text: #008766;